body {
  background-color: #262133;
  font-family: "Fira Code", monospace;
  color: #bdace7;
  margin: 0px auto;
  padding: 8px;
  max-width: 600px;
}

h1 {
  color: #bdace7;
  margin-top: 20px;
}

a {
  color: #946df7;
  text-decoration: none; /* Remove the default underline */
  border-bottom: 2px solid transparent; /* Add a transparent border for a subtle underline effect */
  transition: border-bottom 0.2s ease-in-out; /* Add a smooth transition for the underline effect */
}

a:hover {
  opacity: 0.8; /* Reduce the opacity slightly on hover for a polished look */
}

/* PGP Key */
.pgp-key {
  display: inline-block;
  font-family: 'Fira Code', monospace;
  font-size: 15px;
  line-height: 2; /* Slightly reduced line-height for better readability */
  white-space: pre-wrap;
  max-width: 600px;
  margin: 20px auto;
  padding: 15px; /* Increased padding for more breathing space */
  border: 2px solid #811ce7; /* Slightly thinner border */
  border-radius: 8px; /* Increased border radius for a softer look */
  text-align: center;
}

.copy-button {
  font-family: "Fira Code", monospace;
  font-size: 12px;
  float: right;
  margin-top: -50px;
  margin-right: -23px;
  background-color: #946df7;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.copy-button:hover {
  transform: scale(1.10);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #946df7;
  border-radius: 6px;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #946df7b6;
}
